<a href="javaScript:window.print();">Распечатать эту страницу</a>



                                                            Генеральному директору
                                                             ООО "Авангард"
                                                      Евкин О.И.

От ___________________________
Ф.И.О. сотрудника

  ______________________________
должность, подразделение


Заявление



Прошу удерживать из моей заработной платы стоимость расходов на мобильную связь, выходящих за лимит, согласно положению о мобильной связи.


________________    ____________    ________________
дата          подпись          расшифровка подписи  

<%= link_to 'Back', @user %> 
