<h1>Отделы</h1>

<table>
  <tr>
    <th>Наименование</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cfus.each do |cfu| %>
  <tr>
    <td><%= link_to cfu.namecfu, cfu %></td>
    <td><%= link_to 'Редактировать', edit_cfu_path(cfu) %>
    <%= link_to 'Удалить', cfu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый Отдел', new_cfu_path %>
