<h1>Report#showload</h1>
<table>
  <tr>
    <th>tnumber</th>
    <th>tarifname</th>
    <th>totalsum</th>
    <th>finsum</th>
  </tr>

<% @report1.each do |r| %>
  <tr>
    <td><%= r["tnumber"] %></td>
    <td><%= User.find(r["user_id"]).fullname if r["user_id"].present? %></td>
    <td><%= r["totalsum"].to_f.round(2) %></td>
    <td><%= r["finsum"].to_f.round(2) %></td>

    
      
  </tr>
<% end %>
</table>

<br />