<header>
  <nav class="round">
      <%= link_to "Сим карты", sims_path %>  |
      <%= link_to "Журнал сим карт", simnumlogs_path %> |
      <%= link_to "Телефонные номера", tnumbers_path %>       
  </nav>
</header>